/Data_input
/Data_input/*.csv
*run.final.infercnv_obj
*infercnv.observations.txt
*General_HCL_1_members.txt
*infercnv.references.txt
*largefile*
*interaction_analysis/data/*
*interaction_analysis/cpdb-venv/*
scripts/.ipynb_checkpoints/
*.ipynb_checkpoints*
*SRA_upload*
*data_processed_NI01_doublet.txt*
*NI01_doublet_expression*
*data_processed_reclust_NI01_doublet.txt*
*Final_nondoublets_exp_NI01_doublet.txt*
*data_out/NI01/NI01_doublet_fullExpression*
